<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212962839266-7gg10hg9tmta5a2lkaukm8mkh6m0qluu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212962839266-7gg10hg9tmta5a2lkaukm8mkh6m0qluu</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtzVB9VG8GNhsqNWoA1C7dl5bwixrzbU</string>
	<key>GCM_SENDER_ID</key>
	<string>212962839266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utd.NasiyeDriver</string>
	<key>PROJECT_ID</key>
	<string>nasiyebooking</string>
	<key>STORAGE_BUCKET</key>
	<string>nasiyebooking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212962839266:ios:fd130d0c55d2f0b7</string>
	<key>DATABASE_URL</key>
	<string>https://nasiyebooking.firebaseio.com</string>
</dict>
</plist>